/* --------------------------------------------------->> */
/*** BODY ***/

body {
  margin: 0 auto;
  background-color: #46424D;
  font-family: 'Montserrat', sans-serif;
}

section {
  background-color: #2B2733;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 93vh;
}

h1, h2, h3, label {
  color: #CBC9CF;
  font-weight: 400;
}
/* --------------------------------------------------->> */
/*** HEADER ***/

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 1.5em;
}
/* --------------------------------------------------->> */
/*** ACTIVITY SECTION ***/

.activity-section {
  height: 100%;
  width: 65vw;
  border-right: 3px solid #46424D;
  padding: 0 20px 100px 20px;
}
/* --------------------------------------------------->> */
/*** NEW ACTIVITY ***/

.new-activity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  background-color: #46424D;
  box-shadow: 12px 12px 2px 1px #26222D;
  border-radius: 8px;
}
/* --------------------------------------------------->> */
/*** FORM ***/

.form-container {
  display: inline;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 80%;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.category-buttons > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 30%;
  background-color: #46424D;
  border: 2px solid #CBC9CF;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}

.category-buttons > button:hover{
  transform: scale(1.1);
}

.icon {
  height: 50px;
  width: 50px;
}

.icon-study-active {
  border: 2px solid #B3FD78 !important;
  outline: 0;
  color: #B3FD78 !important;
}

.icon-exercise-active {
  border: 2px solid #FD8078 !important;
  outline: 0;
  color: #FD8078 !important;
}

.icon-meditate-active {
  border: 2px solid #C278FD !important;
  outline: 0;
  color: #C278FD !important;
}

.activity {
  padding-top: 5%;
}

.time-entry-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}

.minutes, .seconds {
  width: 45%;
}

.activity-minutes,
.activity-seconds {
  font-size: 2em;
}

input {
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background-color: #46424D;
  color: #CBC9CF;
  font-size: 20px;
}

::-webkit-input-placeholder {
  color: #2B2733;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.start-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 5%;
}

.start-activity {
  height: 35px;
  width: 25%;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  color: #46424D;
  font-weight: bold;
}

.warning {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.warning-line {
  border-bottom: 1px solid #f9ef90;
}


.button-error,
.activity-error,
.minutes-error,
.seconds-error {
  color: #f9ef90
}

/* --------------------------------------------------->> */
/*** CURRENT ACTIVITY ***/
.timer-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  width: 80%;
}

.time {
  color: #CBC9CF;
  font-size: 4.5em;
  font-weight: bold;
}

.timer-activity-description {
  font-size: 1.3em;
  color: #CBC9CF;
}

.timer-circle-outline {
  border-radius: 50%;
  margin-top: 30px;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-circle-copy {
  font-size: 1.3em;
  color: #CBC9CF;
  background: #46424D;
  border: none;
  outline: 0;
}

.timer-circle-copy:active,
.timer-circle-outline:active {
  color: red;
  transform: scale(1.1);
}

.timer-log-button {
  height: 40px;
  width: 200px;
  margin-top: 50px;
  border-radius: 4px;
  border: none;
  background: #CBC9CF;
  font-size: 1em;
  color: #46424D;
}

.study-color {
  border: 3px solid #B3FD78;
}

.exercise-color {
  border: 3px solid #FD8078;
}

.meditate-color {
  border: 3px solid #C278FD;
}

/* --------------------------------------------------->> */
/*** LOG SECTION ***/
.card-container {
  text-align: left;
  height: 100px;
  background: #46424D;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px 0;
}

.card-header {
  width: 95%;
  margin: 10px 15px;
}

.sliver-study,
.sliver-meditate,
.sliver-exercise {
  height: 30px;
  border-radius: 2px;
  margin: 10px 10px 0 0;
}

.sliver-meditate {
  background: #C278FD;
  border-right: 2px solid #C278FD;
  border-left: 2px solid #C278FD;
}

.sliver-study {
  background: #B3FD78;
  border-right: 2px solid #B3FD78;
  border-left: 2px solid #B3FD78;
}

.sliver-exercise {
  background: #FD8078;
  border-right: 2px solid #FD8078;
  border-left: 2px solid #FD8078;
}

.card-category {
  font-weight: bold;
  color: white;
}

.card-body {
  margin: 10px 5px;
}

/* --------------------------------------------------->> */
/*** PAST ACTIVITY ***/

.past-activity {
  height: 100%;
  width: 35vw;
  padding: 0 50px 100px 50px;
}

.past-activity-log {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* --------------------------------------------------->> */
/*** OTHER ***/

button:hover {
  cursor: pointer;
}

p {
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #CBC9CF;
}

.hidden {
  display: none;
}

.button-disabled {
  background-color: #f9ef90
}

/* --------------------------------------------------->> */
/*** responsiveness functionality ***/
@media (max-width: 800px) {
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    flex-flow: column nowrap;
    width: 100%;
  }

  .new-activity {
    height: 100%;
    width: 100%;
  }

  .activity-section {
    height: 100%;
    width: 108vw;
  }

  .past-activity {
    width: 100%;
  }

  .past-activity-log {

  }

}

@media (max-width: 650px) {
  .activity-section {
    height: 100%;
  }

  .past-activity {
    margin: 0 auto;
  }
}

@media (max-height:1020px) {
  .create-new-activity-button,
  .timer-circle-outline,
  .timer-log-button {
    margin-top: 10px;
  }

  .timer-page {
    width: 100%;
    height: 100%;
  }
}
