
/*

COMP GUIDE:

Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC

font-family: 'Montserrat', sans-serif;

*/


/*** BODY ***/

body {
  background-color: #46424D;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

section {
  background-color: #2B2733;
}

main {
  display: flex;
  flex-direction: row;
  height: 93vh;
  justify-content: space-between;
}

/*** HEADER ***/

h1 {
  font-size: 1.5em;
  color: #CBC9CF;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-weight: 300;
}

h2, h3 {
  color: #CBC9CF;
  font-weight: 400;
}

/*** ACTIVITY SECTION ***/

.activity-section {
  height: 100%;
  width: 65vw;
  border-right: 3px solid #46424D;
  padding: 0px 20px 100px 20px;
}

/*** NEW ACTIVITY ***/

.new-activity {
  background-color: #46424D;
  box-shadow: 12px 12px 2px 1px #26222D;
  height: 80%;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*** FORM ***/

.form-container {
  /* border: 2px solid red; */
  height: 90%;
  width: 80%;
  display: inline;
  flex-direction: column;
  justify-content: center;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.category-buttons > button {
  background-color: #46424D;
  border: 2px solid #CBC9CF;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  height: 100px;
  width: 30%;
}

.category-buttons > button:hover{
  transform: scale(1.1);
}

.first-question {
  padding-top: 5%;
}

.time-entry-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}

.minutes, .seconds {
  width: 45%;
}

input {
  height: 50px;
  width: 100%;
  background-color: #46424D;
  border: none;
  border-bottom: 1px solid white;
  color: #CBC9CF;
  font-size: 20px;
}

::-webkit-input-placeholder {
  color: #CBC9CF;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.start-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 5%;
}

.start-activity {
  background-color: white;
  border-radius: 5px;
  border: none;
  height: 35px;
  width: 25%;
  font-family: 'Montserrat', sans-serif;
  color: #46424D;
  font-weight: bold;
}

/*** CURRENT ACTIVITY ***/

/*** LOG SECTION ***/

/*** PAST ACTIVITY ***/

.past-activity {
  height: 100%;
  width: 35vw;
  padding: 0px 50px 100px 50px;
}

.past-activity-log {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-top: 40px; */
}

/*** OTHER ***/

button:hover {
  cursor: pointer;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #CBC9CF;
  margin: 5px;
}

/*** responsiveness functionality ***/
@media (max-width: 800px) {
  main {
    flex-flow: column nowrap;

  }

  .activity-section {
    /*background: purple;*/
    height: 100%;
    width: 95vw;

  }

  .past-activity {
    width: 100%;
  }

  .past-activity-log {

  }

}
